<%- include("partials/header"); -%>

<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias soluta voluptatem ratione commodi cupiditate consectetur ducimus ipsum ipsa voluptatum nobis vel nulla, impedit doloremque quis. Consequatur culpa et illo laboriosam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, eaque similique, optio ex quidem dolorum quisquam illum maxime impedit ipsam asperiores eum quibusdam pariatur voluptatum consequuntur eius, dolore accusamus numquam!Lorem
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto modi, iure sapiente nulla reprehenderit expedita neque incidunt impedit magni inventore earum omnis rerum qui obcaecati nobis ut amet non enim!
                </p>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>
